@media (max-width: 1110px) {
    .footer {
        height: 1050px;
    }

    .footer .main-block {
        height: 1050px;
        flex-direction: column;
    }

    .footer .main-block .block-f {
        margin-left: auto;
        margin-right: auto;
    }

    .footer .main-block .logo {
        margin-left: auto;
        margin-right: auto;
    }

    .footer .main-block .block_1 .email .image {
        display: none;
    }

    .footer .main-block .block_1 .telefone .image {
        display: none;
    }

    .footer .main-block .block_1 .adress .image {
        display: none;
    }

    .footer .main-block .block_1 {
        margin-top: 35px;
    }
}

@media (max-width: 800px) {
    .slider {
        width: 500px;
        height: 400px;
    }

    .navigation-manual {
        width: 500px;
    }

    .navigation-auto {
        width: 500px;
    }

   
}

@media (max-width: 600px) {
    body .main .content {
        width: 500px;
    }

    body .main .content .image {
        width: 180px;
        height: 110px;
    }

    body .main .content .main_text {
        width: 500px;
    }

    body .main .content .text {
        width: 500px;
    }
}

@media (max-width: 500px) {
    .slider {
        width: 400px;
        height: 300px;
    }

    .navigation-manual {
        width: 400px;
        margin-top: -180px;
    }

    .navigation-auto {
        width: 400px;
        margin-top: 320px;
    }

    body .main .content {
        width: 400px;
    }

    body .main .content .image {
        width: 180px;
        height: 110px;
    }

    body .main .content .main_text {
        width: 400px;
    }

    body .main .content .main_text h1 {
        font-size: 50px;
    }

    body .main .content .text {
        width: 400px;
    }

    body .main .content .text p {
        font-size: 15px;
    }

    .slide img {
        width: 400px;
        height: 250px;
    }

    #radio1:checked ~ .first {
        margin-left: 0;
    }
    
    #radio2:checked ~ .first {
        margin-left: -80%;
    }
    
    #radio3:checked ~ .first {
        margin-left: -160%;
    }
    
    #radio4:checked ~ .first {
        margin-left: -240%;
    }

    body .menu .menu-box .box .link {
        font-size: 15px;
    }

    .body-slider {
        height: 500px;
    }

    body .main .content .line {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .slider {
        width: 320px;
        height: 200px;
    }

    .navigation-manual {
        width: 330px;
        margin-top: -180px;
    }

    .navigation-auto {
        width: 320px;
        margin-top: 320px;
    }

    body .main .content {
        width: 320px;
    }

    body .main .content .image {
        width: 180px;
        height: 110px;
    }

    body .main .content .main_text {
        height: 65px;
        width: 320px;
    }

    body .main .content .main_text h1 {
        font-size: 35px;
    } 

    body .main .content .text {
        width: 300px;
    }

    .body-slider {
        height: 350px;
        margin-bottom: 150px;
        margin-top: 50px;
    }

    .navigation-manual {
        width: 320px;
        margin-top: -270px;
    }

    .navigation-auto {
        width: 320px;
        margin-top: 230px;
    }

    body .main .content .line {
        width: 280px;
    } 
}

/* вообщем, комьютер сейчас очень сильно зависает и начинает медленно работать, видимо устал.
НАПОМИНАЮ самому себе что я остановился на замене фотографии на рзрешении экрана в 400px, и их обрезке в фолдере "картинки для kaz nova prom"
план работы:
1. уменшать разрешение до 320 пикс и менять только то что уже есть в файле modile.css, можно все уменщать по ширине до 320 пикс и будет норм
2. надо поменять адрес, номер телефона и емайл на странице
3. выложить на гитхаб и скинуть дяде васе */